extends ./layout/index

block slider 
    .slider     
        h1 Rio de Janeiro 
        em aventura

block contenido
    main.container.mt-5     
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum elementum posuere. Donec porttitor elit quis posuere sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean eu augue a dui condimentum lobortis a quis ex. Nulla vel augue venenatis, consequat erat dignissim, elementum nibh. 
                p Sed dictum pretium sollicitudin. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer ultrices tellus urna, non venenatis nunc mollis sed. Curabitur magna justo, dapibus eu nisi non, mollis tincidunt eros. Nam porttitor volutpat est vel fermentum. 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")
        
        include ./layout/bloque_viaje

    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD

    .container 
        h2.mt-5.text-center Testimoniales 
        include ./layout/bloque_testimoniales    