extends ./layout/index

block contenido
    main.container.mt-5     
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum felis sem, dignissim ornare vestibulum eu, hendrerit a metus. Donec sapien risus, faucibus eu est sed, interdum suscipit nulla. Pellentesque porta quam ac facilisis tristique. Etiam ac orci eu nunc porttitor ornare luctus id ex. 

                p laoreet egestas magna ac hendrerit. Pellentesque tellus lorem, aliquet eget suscipit ac, luctus in eros. Suspendisse cursus enim eu egestas faucibus. Maecenas interdum convallis tellus a pretium. Nullam ipsum ex, volutpat vel fringilla eget, lacinia at justo. Sed laoreet fermentum lectus semper viverra. Praesent nec maximus est. 

                p suscipit eget erat id ultrices. Integer auctor sem lacinia orci commodo, sed mollis justo imperdiet. Duis ac ligula quis tortor viverra aliquet sed nec justo. Ut et est eleifend, euismod mi et, dignissim purus. Ut maximus lacus non nibh facilisis, sit amet tincidunt arcu sagittis.
        
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4   
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p suscipit eget erat id ultrices. Integer auctor sem lacinia orci commodo, sed mollis justo imperdiet. Duis ac ligula quis tortor viverra aliquet sed nec justo. Ut et est eleifend, euismod mi et, dignissim purus. Ut maximus lacus non nibh facilisis, sit amet tincidunt arcu sagittis

                .col-md-4   
                    img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p suscipit eget erat id ultrices. Integer auctor sem lacinia orci commodo, sed mollis justo imperdiet. Duis ac ligula quis tortor viverra aliquet sed nec justo. Ut et est eleifend, euismod mi et, dignissim purus. Ut maximus lacus non nibh facilisis, sit amet tincidunt arcu sagittis

                .col-md-4   
                    img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p suscipit eget erat id ultrices. Integer auctor sem lacinia orci commodo, sed mollis justo imperdiet. Duis ac ligula quis tortor viverra aliquet sed nec justo. Ut et est eleifend, euismod mi et, dignissim purus. Ut maximus lacus non nibh facilisis, sit amet tincidunt arcu sagittis